body {
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #546ee1, #5eb5e8); 
  color: white;
  text-align: center;
}

a {
  margin-top: 1rem;
  color: white;
  text-decoration: underline;
  transition: color 0.2s;
}

a:hover {
  color: #dcdcdc;
}